<!DOCTYPE html>
<head>

<title> VALVE CORPORATION</title>
<meta name charset="utf-8">
<meta name="kaywords" content="мой сайт абсолютно бесполезен">
<link rel="stylesheet" href="static/css.css">
	</head>

<body>



<header class="header">
	<div class="container">
		<div class="header__linner">
			<div class="header__logo">             </div>
			<nav>
				<ul>
					<li><a class="nav_link" href="#">что то пока не понятно что</a></li>
					<li><a class="nav_link" href="#">что то пока не понятно что</a></li>
					<li><a class="nav_link" href="#">что то пока не понятно что</a></li>
					</ul>
			</nav>
			
		</div>
	</div>
</header>

<div class="intro">
	<div class="container">
		<div class="intro__inner">
			<h1 class="intro__title">Сайт посвящён компании валве <br> и абсолютно бесполезен</h1>
		</div>

		<div class="intro__slider">
			
		</div>

	</div>
</div>


<section class="ggbet">
	<div class="container">

		<div class="shapka">
			<h3 class="subtitle">Что тут происходит?</h3>
			<h2 class="title__gg">Мы уже активно ведём разработку hilf-life 3</h2>
			<h4 class="ggg">'но это не точно'</h4>
			<div class="loh">
				<p>Я здесь что то напишу для вида,ибо на данный момент эта надпись ни на что не влияет</p>
			</div>
		</div>
	
		<div class="about">
			<div class="about__item">
				<div class="about__img">
					<img src=".\foto\1234.jpg" alt="">
				</div>
				<div class="about__text">  </div>
			</div>

			<div class="about__item">
				<div class="about__img">
					<img src=".\foto\123.jpg" alt="">
				</div>
			</div>

			<div class="about__item">
				<div class="about__img">
					<img src="./foto/12.jpg" alt="">
				</div>
			</div>
		</div>
	</div>


	</div>
</section>



<div class="phb">
	<a href="https://github.com/" target="blank">здесь что то важное но лучше не открывай</a>
</div>


</body>

</html>